/*index*/
.caja{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}


/*productos*/


/*servicios*/


/*contacto*/
.horarios{
    display: inline-block;
    box-sizing: border-box;
    
}

.horarios > tbody > tr > td{
    border: 2px solid black;
}