/*index*/

.caja{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.logo{
    justify-content: center
}
.nav , .items_nav{
    display: flex;
    flex-direction: row;
}

.items_nav, a{
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}


/*productos*/


/*contacto*/

.horarios{
    display: inline-block;
    box-sizing: border-box;
    
}

.horarios > tbody > tr > td{
    border: 2px solid black;
}