/*index*/
body{
    background-color: rgb(249, 254, 243);
}

.caja{
    background-color: rgb(127, 155, 133);
    display: flex;
    flex-direction: row;
}
.logo{
    justify-content: center;
    align-self: center;
    width: 80px;
    height: 80px;
    margin-left:10px;
    margin-right: 250px;
}
.nav{
    display: flex;
    margin-left: 94%;
}
li{
    list-style-type: none;
}
::marker {
    display: none;
}

.items_nav, a{
    color: rgb(18, 18, 18);
    text-decoration:none;
    padding: 0.5rem;
}
.contenedor{
    display: flex;
    /*background-color: #757575b5;*/
    background: linear-gradient(to bottom, #989898, #444343);
    margin: 10px 0;
    border-radius: 10px;
}
.cuadro{
    margin: 20px 30px 20px 30px;
    height: 350px;
    width: 350px;
}
.titulo{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.textoDesc{
    margin-top: 75px;
    padding-top: 25px;
    margin-right: 2em;
    font-size: 1.4rem;
}
.vete{
    text-align: center;
    padding: 4rem;
}

footer{
    display:flex;
    flex-direction: row;
    row-gap: 20px;
}
.eslogan{
    background: linear-gradient(to bottom, #acacac, #444343);
    width: 50%;
    height: 150px;
    padding-top: 50px;
    padding-left: 50px;
    border-top-left-radius: 10px;

}
.redes{
    background: linear-gradient(to bottom, #acacac, #444343);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
    border-top-right-radius: 10px;

}
.icon-redes{
    display: flex;
    flex-direction: row;
}
p .redes{
    justify-self: center;
    text-align: center;
    margin-bottom: 5px;

}
.iconos{
    width: 35px;
    height: 35px;
}

/*productos*/
.productotitulo{
    border: f5d59a 5px solid;
}
.productocuadro{
    background: linear-gradient(to bottom, #f9ecb6,#f5d59a, #fbf0c2);
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 10px;
}
.productoindices{
    font-size: 2rem;
    background-color: rgb(127, 155, 133);
    border-radius: 5px;
}
.productoimg{
    width: 120px;
    height: 120px;
    border-radius:  10px;
}
.reja{
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas con el mismo ancho */
  grid-gap: 5px; /* Espacio entre las imágenes */
}
.reja2{
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea 3 columnas con el mismo ancho */
  grid-gap: 5px; /* Espacio entre las imágenes */
}

/*servicios*/

.servicio{
    background: linear-gradient(to bottom, #f9ecb6,#f5d59a, #fbf0c2);
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.serviciotitulo{
    text-align: center;
}
.serviciolista{
    font-size: 1rem;
}
.servicioimg{
    padding: 0 2em;
    width: 420px;
    height: 320px;
}
.servicioboton{
    width: 40%;
    padding: 15px 0;
    font-size: 12px;
    font-weight: bold;
    color:white;
    background: rgb(127, 155, 133);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.servicioboton:hover{
    background: green;
    transform: scale(1);
} 
.vet{
    background:  linear-gradient( to right, #696151,#f5d59a, #696151 );
    border-radius: 5px;
    margin: 20px 0;
}

.pel{
    background:  linear-gradient( to right, #696151,#f5d59a, #696151 );
    border-radius: 5px;
    margin: 20px 0;
}

/*contacto*/

.mapa{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

form, fieldset{
    border: 0;
    padding: 1rem;
}

form label, form legend{
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
}

table{
    margin: 2rem 2rem;
} 

thead{
    background: gray;
    color: white;
    font-weight: bold;
} 

td, th{
    border: 1px solid black;
    padding: 8px 15px;
} 

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: rgb(127, 155, 133);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: green;
    transform: scale(1);
} 